@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.drillhole-tooltip-square {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 10px;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
}

.drillhole-tooltip-square::before {
  border-top-color: rgba(0, 0, 0, 0.5) !important;
}